

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#map-div {
    height: 450px;
    width: 66%;
}

/* Pad the edges of the mobile views a bit */
.marketing {
    padding-left: 15px;
    padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    text-align: center;
    margin-bottom: 20px;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-left: 10px;
    margin-right: 10px;
}

#share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
}
.headingstyle {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#428bca),to(#357ebd));
    background-image: -webkit-linear-gradient(top,#428bca,0%,#357ebd,100%);
    background-image: -moz-linear-gradient(top,#428bca 0,#357ebd 100%);
    background-image: linear-gradient(to bottom,#428bca 0,#357ebd 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca',endColorstr='#ff357ebd',GradientType=0);
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}

.headingstyle .navbar-brand {
    color: #fff; 
    font-weight: bolder;
}